{% extends "base.html" %}
{% block content %}
<div class="container">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="body" id="demo-name" value="{{post.body}}" />
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input class="button primary fit" type="submit" value="Sauvegarder" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
