{% extends "base.html" %}
{% block content %}
<section>
<div class="container">
    <h4>Django - inicjacja</h4>
        <ol>
            <li><code>python3 -m venv venv</code></li>
            <li><code>source venv/bin/activate</code></li>
            <li><code>pip install django</code></li>
            <li><code>django-admin startproject config .</code></li>
            <li><code>django-admin startapp website</code></li>
            <li><code>python manage.py migrate</code></li>
            <li><code>python manage.py runserver</code></li>    
            <li><code>python manage.py createsuperuser</code></li>
            <li>settings.py: nazwa aplikacji do <code>INSTALLED_APPS</code></li>
            <li>config/urls.py: <code>path('', include('website.urls'))</code></li>
            <li>website/urls.py:
                <pre><code>
                    from django.urls import path
                    from . import views

                    urlpatterns = [
                        path('', views.home, name='home'),
                    ]
                </code></pre>
            </li>
            <li>website/views.py:
                <pre><code>
                    from django.shortcuts import render

                    def home(request):
                        return render(request, 'index.html')
                </code></pre>
            </li>

		</ol>
    <h4>Django - szablon</h4>
        <ol>
            <li>templates/index.html</li>
            <li>templates/base.html</li>
        </ol>
</div>
</section>
{% endblock content %}
